
* { 
     
}

body {
    background-color: #FFFFCC;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px 
}

#Title {
    font-size: 30px;
    padding-left: 10px;
}

div {
	border-style: solid;
    border-width: 2px;
    margin: 10px;
    padding: 10px; 
}


tr {

	height: 75px;
	width: 75px;

}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;

}

img {
     border-style: solid;
     border-width: 2px;
     height: 100px;
     width: 950px

}

#Question1 {
    
}

#Question2 {

}

#Question3 {

}

#Question4 {

}

#Question5 {

}




